body {
    font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
    color: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  }
  
  h1 {
    text-align: center;
    font-size: 34px;
    line-height: 48px;
    font-weight: 900;
    margin: 0;
    color: black;
  }
  
  .form-group {
    position: center;
    font-size: 18px;
    line-height: 28px;
    margin-top: 60px;
  }
  
  .sunicon1 {
    color: orange;
    font-size: 30px;
  }
  
  .form-control {
    position: center;
  }
  
  .weather-search-form {
    margin-top: 40px;
    position: absolute;
  }

  .weather-app {
    max-width: 590px;
    margin: 0 auto;
    /* border: 1px solid #dadde1;*/
    /* padding: 20px;*/
  }
  